/* page */
.dashboard_container {
  position: absolute;
  top: 120px;
  left: 150px;
  width: 80%;
  height: 90%;
}
.dashboard {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 70%;
  /* border: 1px solid red; */
}

/* ensemble des cartes calories - glucides .. */
.containerInfos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardInfos {
  background-color: #fbfbfb;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cardInfos img {
  width: 60px;
}
.graph_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.activity {
  background-color: #fbfbfb;

  height: 50%;
  border-radius: 5px;
}
.activity p {
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 12px;
}
.radial {
  height: 50%;
  border-radius: 5px;
}

.customTooltip {
  background-color: #e60000;
  width: 60px;
  height: 70px;
  line-height: 30px;
  color: white;
}
.customTooltip p {
  font-size: 10px;
}
.graphs {
  border: 1px solid black;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
/* ne pas oublier le border radius 5px sur les 3 petits graphs */
.graphs div {
  /* border: 1px solid red; */
  width: 32%;
  height: 100%;
}
