.navbar {
  position: relative;
  width: 100vw;
  height: 90px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
/* links a remplacés par des p */
.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.sidebar {
  width: 100px;
  height: 100vh;
  background: #000;
}

.icons_sport {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
